<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grades Dashboard</title>
    <link rel="stylesheet" , href="/style.css">
</head>

<body>
    <div class="jumbotron centered">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">David School of Business</h1>
            <h2 class="display-3">Welcome <%= studentDetails.name%>
            </h2>
        </div>
    </div>
    <div class="table_Details">
        <table>
            <tr>
                <th>Student ID</th>
                <th>Class</th>
                <th>Class Grade</th>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        </table>
    </div>

    <div class="newGrade">
        <a class="btn btn-light btn-lg" href="/dashboard" role="button">Add new grades</a>



</body>

</html>