<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam at reprehenderit architecto corporis aut veniam esse eos blanditiis! Id consequuntur fugit animi quasi distinctio sit? Numquam illum
     eius accusamus dolores.<%=date
     if(){}
     %>
</body>
</html>